<!DOCTYPE html>
<html lang="">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Home Page</title>

		<!-- Bootstrap CSS -->
		<link href="/static/bower_component/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>

	<body>


	<!-- <button type="submit" class=" btn btnton0 button1   " style="height: 40px; margin-bottom:20px;width:200px;" >Submit</button> -->
	<div style="text-align:center;margin-top:300px;color:green">
		<h1 class="text-center">Home Page</h1>
		{{validation}}
		</div>

		<!-- jQuery -->
		<script src="//code.jquery.com/jquery.js"></script>
		<!-- Bootstrap JavaScript -->
		<script src="/static/bower_component/bootstrap/js/bootstrap.min.js"></script>
	</body>
</html>
